* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    /* !CREARE UN CONTAINER DI GIOCO E NON USARE IL BODY */
  /* overflow: hidden; */
  background-color: greenyellow;
  height: 100vh;
  position: relative;
}

.square {
  width: 50px;
  height: 50px;
  background-color: lightseagreen;
  position: absolute;
}
