* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: greenyellow;
  position: relative;
}

.square {
  width: 50px;
  height: 50px;
  background-color: green;
  position: absolute;
}
